@font-face {
  font-family: "SofiaProLight";
  src: url("../fonts/SofiaProLight.otf");
}

@font-face {
  font-family: "FuturaPTMedium";
  src: url("../fonts/FuturaPTMedium.otf");
}

@font-face {
  font-family: "FuturaPTBook";
  src: url("../fonts/FuturaPTBook.otf");
}

.social-links-container {
  display: flex;
}

.social-links-container a:not(:first-child) {
  padding-left: 15px;
}

.social-links-container a {
  font-size: 18px;
  color: #ffffff;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}
header {
  font-family: "SofiaProLight", "Playfair";
  display: flex;
  flex-direction: row;
  padding: 30px 50px 0;
}
header .navLinksContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}
header .navLinksContainer .navLink {
  padding: 0 15px;
}
footer {
  font-family: "FuturaPTMedium", "sans-serif", "Playfair";
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 50px;
}

.topic {
  animation: caret 1s steps(1) infinite;
}

.project-title p {
  display: inline-block;
}

.project-short-description {
  display: block;
}
.project-short-description > p {
  font-size: calc(0.8rem + 0.2vw);
  display: block;
  margin-top: 2.5vh;
}

.dash {
  width: 20%;
  padding-left: 0;
  padding-right: 24px;
  display: block;
  height: 5px;
  background-color: #201c1c;
  margin-top: 0.9em;
}

.project-title {
  z-index: 1;
  flex: 1 30%;
  align-self: center;
  line-height: 1.7;
}

.project-title h1 span {
  display: block;
}

.big-title h1 {
  line-height: 1;
  text-align: left;
}

#project1,
#project2,
#project3,
#project4,
#project5,
#project6 {
  overflow: hidden;
}
#project1 {
  background: -webkit-linear-gradient(right, #feffc9 50%, white 50%);
  background: -moz-linear-gradient(right, #feffc9 50%, white 50%);
  background: linear-gradient(right, #feffc9 50%, white 50%);
}

#project2 {
  background: -webkit-linear-gradient(left, #f9f9f9 50%, white 50%);
  background: -moz-linear-gradient(left, #f9f9f9 50%, white 50%);
  background: linear-gradient(left, #f9f9f9 50%, white 50%);
}

#project3 {
  background: -webkit-linear-gradient(right, #cbfeea 50%, white 50%);
  background: -moz-linear-gradient(right, #cbfeea 50%, white 50%);
  background: linear-gradient(right, #cbfeea 50%, white 50%);
}
#project4 {
  background: -webkit-linear-gradient(left, #ff9871 50%, white 50%);
  background: -moz-linear-gradient(left, #ff9871 50%, white 50%);
  background: linear-gradient(left, #ff9871 50%, white 50%);
}

#project7 {
  background: -webkit-linear-gradient(right, #ffe9ff 50%, white 50%);
  background: -moz-linear-gradient(right, #ffe9ff 50%, white 50%);
  background: linear-gradient(right, #ffe9ff 50%, white 50%);
}
#project8 {
  background: -webkit-linear-gradient(left, #9bd1e6 50%, white 50%);
  background: -moz-linear-gradient(left, #9bd1e6 50%, white 50%);
  background: linear-gradient(left, #9bd1e6 50%, white 50%);
}
#project6 {
  background: -webkit-linear-gradient(left, #f9f9f9 50%, white 50%);
  background: -moz-linear-gradient(left, #f9f9f9 50%, white 50%);
  background: linear-gradient(left, #f9f9f9 50%, white 50%);
}
#project5 {
  background: -webkit-linear-gradient(right, #e7dcf3 50%, white 50%);
  background: -moz-linear-gradient(right, #e7dcf3 50%, white 50%);
  background: linear-gradient(right, #e7dcf3 50%, white 50%);
}

#project2 .project-title,
#project4 .project-title,
#project6 .project-title,
#project8 .project-title {
  flex: 1 40%;
  order: 2;
  padding-right: 10%;
  padding-left: 0%;
}
.project-container {
  padding-left: 8%;
  margin-top: 0;
  display: flex;
}

.project-img img {
  overflow: hidden;
  display: block;
  margin: auto;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
#project2 .project-img,
#project4 .project-img,
#project6 .project-img,
#project8 .project-img {
  padding-right: 0%;
  padding-left: 0%;
  overflow: hidden;
  transform-style: preserve-3d;
  flex: 1 60%;
  height: 100%;
  width: 100%;
  margin-right: 8%;
  margin-left: 0%;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.4);
}
#project1 .project-img,
#project3 .project-img,
#project5 .project-img,
#project7 .project-img {
  overflow: hidden;
  transform-style: preserve-3d;
  flex: 1 60%;
  height: 100%;
  width: 100%;
  margin-right: 8%;
  margin-left: 5%;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.4);
}
#project2 .project-img img:hover,
#project3 .project-img img:hover,
#project4 .project-img img:hover,
#project5 .project-img img:hover,
#project6 .project-img img:hover,
#project7 .project-img img:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

a:active,
a:hover {
  outline-width: 0;
}

img {
  border-style: none;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "FuturaPTBook";
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.a-container {
  margin: 0 auto;
  width: 100%;
  max-width: 82.5rem;
  display: grid;
  grid-gap: 30px;
  padding: 0 8vw;
  position: relative;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  padding: 0px 0px 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "FuturaPTBook";
  text-rendering: optimizeLegibility;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "FuturaPTBook";
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 35px;
}
